@import "tailwindcss";

@font-face {
  font-family: "cabinet-grotesk";
  src:
    url(./fonts/cabinet-grotesk/medium.woff2) format("woff2"),
    url(./fonts/cabinet-grotesk/medium.woff) format("woff"),
    url(./fonts/cabinet-grotesk/medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "cabinet-grotesk";
  src:
    url(./fonts/cabinet-grotesk/bold.woff2) format("woff2"),
    url(./fonts/cabinet-grotesk/bold.woff) format("woff"),
    url(./fonts/cabinet-grotesk/bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "outfit";
  src:
    url(./fonts/outfit/regular.woff2) format("woff2"),
    url(./fonts/outfit/regular.woff) format("woff"),
    url(./fonts/outfit/regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "outfit";
  src:
    url(./fonts/outfit/semibold.woff2) format("woff2"),
    url(./fonts/outfit/semibold.woff) format("woff"),
    url(./fonts/outfit/semibold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "jetbrains-mono";
  src:
    url(./fonts/jetbrains-mono/regular.woff2) format("woff2"),
    url(./fonts/jetbrains-mono/regular.woff) format("woff"),
    url(./fonts/jetbrains-mono/regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "jetbrains-mono";
  src:
    url(./fonts/jetbrains-mono/medium.woff2) format("woff2"),
    url(./fonts/jetbrains-mono/medium.woff) format("woff"),
    url(./fonts/jetbrains-mono/medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "jetbrains-mono";
  src:
    url(./fonts/jetbrains-mono/italic.woff2) format("woff2"),
    url(./fonts/jetbrains-mono/italic.woff) format("woff"),
    url(./fonts/jetbrains-mono/italic.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@theme {
  --color-*: initial;
  --color-black: #00001f;
  --color-white: #f5f5ff;
  --color-blue: #0094e8;
  --color-red: #db004f;
  --color-green: #69cf00;
  --color-error: #ce0023;
  --color-light-error: color-mix(
    in oklab,
    var(--color-error) 10%,
    var(--color-white)
  );
  --color-dark-blue: hsl(from var(--color-blue) h s 15);
  --color-light-blue: color-mix(
    in oklab,
    var(--color-dark-blue) 50%,
    var(--color-white)
  );
  --color-off-white: color-mix(
    in oklab,
    var(--color-dark-blue) 10%,
    var(--color-white)
  );

  --shadow-2xl: 0 25px 50px -12px
    color-mix(in oklab, var(--color-dark-blue) 25%, transparent);

  --font-*: initial;
  --font-title: "cabinet-grotesk", serif;
  --font-body: "outfit", sans-serif;
  --font-mono: "jetbrains-mono", sans-serif;

  --spacing-navbar: calc(var(--spacing) * var(--navbar-height));
  --spacing-section: calc(var(--spacing) * 32);
  --spacing-sub-section: calc(var(--spacing) * var(--subsection-height));
  --spacing-wide: calc(var(--spacing) * 384);
  --spacing-content-margin: calc(var(--spacing) * 4);

  --container-content: 50rem;

  --aspect-cinematic: 239/100;
}

:root {
  --navbar-height: 17;
  --subsection-height: 20;

  --loading-color-start: var(--color-white);
  --loading-color-end: var(--color-off-white);

  --media-border-radius: 16px;
  --media-font-family: var(--font-body);
  --media-border-color: transparent;
  --media-accent-color: var(--color-black);
  --media-accent-text-color: var(--color-white);

  @media (min-width: 40rem) {
    --navbar-height: 21;
    --subsection-height: 16;
    --media-border-radius: 24px;
  }
}

.gallery-video {
  --media-border-radius: 20px;
  @media (min-width: 40rem) {
    --media-border-radius: 24px;
  }
}

html,
body {
  @apply font-body selection:bg-blue @container bg-white text-black selection:text-white;
  font-synthesis: none;
  scrollbar-color: var(--color-off-white) var(--color-white);
}

.loading-animation {
  background-size: 100% 200%;
  background-repeat: repeat;
  background-image: linear-gradient(
    0deg,
    var(--loading-color-start) 25%,
    var(--loading-color-end) 47.5%,
    var(--loading-color-end) 52.5%,
    var(--loading-color-start) 75%
  );
  animation: vertical 2s infinite;
  animation-timing-function: linear;
}

@keyframes vertical {
  0% {
    background-position: 50% 150%;
  }
  100% {
    background-position: 50% -50%;
  }
}

.page-grid {
  --content-width: var(--breakpoint-md);
  --wide-width: var(--breakpoint-2xl);
  --content-margin: var(--spacing-content-margin);
  --main: min(var(--content-width), 100% - var(--content-margin) * 2);
  --wide: minmax(0, calc((var(--wide-width) - var(--content-width)) / 2));
  --full: minmax(var(--content-margin), 1fr);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [wide-start] var(--wide) [main-start] var(--main)
    [main-end] var(--wide) [wide-end]
    var(--full) [full-end];
}

.page-grid > * {
  grid-column: main-start / main-end;
}

.wide-content {
  grid-column: wide-start / wide-end;
}

.full-wide-content {
  grid-column: full-start / full-end;
}

.hero-wide-content {
  grid-column: full-start / full-end;
  @media (min-width: 40rem) {
    grid-column: wide-start / wide-end;
  }
}

.footer-wide-content {
  grid-column: full-start / full-end;
  @media (min-width: 80rem) {
    grid-column: wide-start / wide-end;
  }
}
