@import "tailwindcss";

@font-face {
  font-family: "cabinet-grotesk";
  src:
    url("/font/cabinet-grotesk/medium.woff2") format("woff2"),
    url("/font/cabinet-grotesk/medium.woff") format("woff"),
    url("/font/cabinet-grotesk/medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "cabinet-grotesk";
  src:
    url("/font/cabinet-grotesk/bold.woff2") format("woff2"),
    url("/font/cabinet-grotesk/bold.woff") format("woff"),
    url("/font/cabinet-grotesk/bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "outfit";
  src:
    url("/font/outfit/regular.woff2") format("woff2"),
    url("/font/outfit/regular.woff") format("woff"),
    url("/font/outfit/regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "jetbrains-mono";
  src:
    url("/font/jetbrains-mono/regular.woff2") format("woff2"),
    url("/font/jetbrains-mono/regular.woff") format("woff"),
    url("/font/jetbrains-mono/regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@theme {
  --color-*: initial;
  --color-black: #00001f;
  --color-white: #f5f5ff;
  --color-blue: #0094e8;
  --color-red: #db004f;

  --font-*: initial;
  --font-title: "cabinet-grotesk", serif;
  --font-body: "outfit", sans-serif;
  --font-mono: "jetbrains-mono", sans-serif;
}

html,
body {
  @apply font-body selection:bg-blue bg-white text-black selection:text-white;
  font-synthesis: none;
}

.work-grid {
  --content-width: 768px;
  --wide-width: 1280px;
  --content-margin: 16px;
  --main: min(var(--content-width), 100% - var(--content-margin) * 2);
  --wide: minmax(0, calc((var(--wide-width) - var(--content-width)) / 2));
  --full: minmax(var(--content-margin), 1fr);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [wide-start] var(--wide) [main-start] var(--main)
    [main-end] var(--wide) [wide-end]
    var(--full) [full-end];
}

.work-grid > * {
  grid-column: main-start / main-end;
}

.wide-content {
  grid-column: wide-start / wide-end;
}

.full-wide-content {
  grid-column: full-start / full-end;
}
