/*
https://github.com/highlightjs/highlight.js/blob/0bc57cfcfb7eab3de7b9ed07e51ff02f6dca441f/src/styles/github-dark.css
Modified to match Vitesse theme, https://github.com/antfu/vscode-theme-vitesse
*/

.hljs {
  color: var(--color-black);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable.language_ {
  color: #0c60a5;
}

.hljs-type {
  color: #5d99a9;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #0d7579;
}

.hljs-attr,
.hljs-attribute,
.hljs-meta,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #144266;
}

.hljs-property {
  color: #a69c4e;
}

.hljs-number,
.hljs-literal {
  color: #5da994;
}

.hljs-operator {
  color: #cb5c69;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: #509546;
}

.hljs-built_in,
.hljs-symbol {
  color: #db889a;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--color-light-blue);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #7ee787;
}

.hljs-subst {
  color: #0c60a5;
}

.hljs-section {
  color: #1f6feb;
  font-weight: bold;
}

.hljs-bullet {
  color: #f2cc60;
}

.hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}

.hljs-strong {
  color: #c9d1d9;
  font-weight: bold;
}

.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

.hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-punctuation,
.hljs-tag {
  color: #3a4252;
}
