@reference "./app.css";

.mdx .media-style {
  @apply bg-off-white mt-8 w-full rounded-2xl shadow-2xl sm:rounded-3xl;
}

.mdx pre:not(.custom),
.mdx pre:not(.custom) code:not(.custom) {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.2;
  tab-size: 2;
  hyphens: none;
}

.mdx pre:not(.custom) {
  max-height: 525px;
  margin-top: -36px;
  padding-top: 36px;
  padding-bottom: 6px;
  overflow: auto;
  font-weight: 500;
}

.mdx pre:not(.custom) > code:not(.custom) {
  float: left;
  min-width: 100%;
}

.mdx pre:not(.custom) {
  scrollbar-color: #424240 black;
}

.mdx .highlighted-code-line {
  background-color: #1a1a1a;
}

.mdx .numbered-code-line::before {
  content: attr(data-line-number);

  display: inline-block;
  position: sticky;
  left: 0;

  min-width: 40px;
  padding: 0px 10px;
  color: #424240;
  text-align: right;

  background-color: black;
}
