@reference "./app.css";

.mdx pre.code,
.mdx pre.code code {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.2;
  tab-size: 2;
  hyphens: none;
}

.mdx pre.code {
  max-height: 525px;
  margin-top: -36px;
  padding-top: calc(8px + 36px);
  padding-bottom: 8px;
  overflow: auto;
  font-weight: 500;
}

.mdx pre.code > code {
  float: left;
  min-width: 100%;
}

.mdx .highlighted-code-line {
  background-color: #e7e9f4;
}

.mdx .numbered-code-line.highlighted-code-line::before {
  background-color: var(--color-off-white);
}

.mdx .numbered-code-line::before {
  content: attr(data-line-number);

  display: inline-block;
  position: sticky;
  left: 0;

  min-width: 40px;
  padding: 0px 10px;
  color: var(--color-light-blue);
  text-align: right;

  background-color: var(--color-white);
}
